@charset "UTF-8";

body {
    border: 1px dashed black;
    height: 97vh; /*view height*/
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left center; /*Primeiro "coluna" depois "linha"*/
}