@charset "UTF-8";

:root {
    --cor1: #dd7dff;
    --cor2: #2F298F;
    --cor3: #49A09D;
 }

@media screen and (min-width: 768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to top, #2F298F, #dd7dff);
    }

    #login {
        width: 80vw;
    }
    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to top, #2F298F, #dd7dff);
    }
    
    #login {
        width: 950px;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario { 
        float: right;
        width: 50%;
    }
}