@charset "UTF-8";

body {
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png); /*Também funciona com links externos*/
    background-size: 100px 100px;
    background-repeat: no-repeat; /*repeat é o padrão*/
}