@charset "UTF-8";

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5b;
    color: #333333;
} 


body.modo-escuro {
    background-color: #212121;
    color: #121212;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo, .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
    
}

header .logo:hover, header .imagem-botao:hover, .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-pokemon { 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pokemon {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

 main .cartao-pokemon:hover {
    transition: 0.1s ease-in-out;
    background-color: #95d9d6;
}

.modo-escuro .cartao-pokemon:hover {
    background-color: #8a8a8a;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 3px solid #582965; /*  mudei aqui a cor original */
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 55px;
    height: 55px;
}

main .cartao-pokemon .tipos {
       display: flex;
       gap: 15px;
}

main .cartao-pokemon .tipo { 
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #582965 /* VER SE VAI FICAR AQUI */
}

.grama {
    background-color: #7ac74c;        
}

.veneno { 
    background-color: #df67ddfb;    
}

.fogo { 
    background-color: #ee8130;    
}

.agua {
    background-color: #6390f0;    
}

.inseto {
    background-color: #a6b91a;    
}

.voador {
    background-color: #a1a4a678;    
}

.normal {
    background-color: #ADA6A3;
}

.eletrico {
    background-color: #FFF700;
}

.terrestre {
    background-color: #FFB93B;
}

.fada {
    background-color: #FF81FC;
}

.lutador {
    background-color: #FF9815;
}

.psiquico {
    background-color: #FF00F7;
}

.pedra {
    background-color: #703800;
    color: #fff;
}

.metalico {
    background-color: #BDBCB9;
}

.gelo{
    background-color: #A5EDF2;
}

.fantasma {
    background-color: #8301AD;
    color: #fff;
}

.dragao {
    background-color: #9956bd;
    color: #fff;
}

.noturno {
    background-color: #000;
    color: #fff;
}

#charizard{
    width: 90px;
    height: 90px;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 15px;
    padding-right: 5px;
    text-indent: 8px;
    text-align: center;
}
